@model PagedList<Ticket>




<div class="card-container">

    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                @* <h3 class="ticket-id">#9999999</h3> *@
                <div class="ticket-info">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Client Name</h3>
                    <h3>Service ID</h3>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Short Description</p>

                <p class="text-center">
                    <button>Details</button>
                </p>
            </div>
        </div>
    </div>
    @* @await Html.PartialAsync("_CreateNewPartial", "Ticket") *@

    <div class="create-new">
        <a asp-controller="TicketingSystem" asp-action="Create">
            <i class="fas fa-plus"></i>
        </a>
       
    </div>


</div>

