
@{
    Layout = "_ResourceViewLayout";
}

<section class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have the permission to access this resource</h6>
    <img src="~/img/AccessDenied.jpg" style="width:70vw; height:auto;"/>
</section>