@model TrackIt.Domain.ViewModel.LoginViewModel;

@{
    Layout = "_EmptyLayout";
}

<div class="signUpContainer">

    @*  Background Video *@
    <video autoplay loop muted playsinline class="background-clip">
        @* <source src="/Glo Business Solutions.webm" type="Video/webm">  *@
        <source src="~/video/market%20loop.mp4" type="video/mp4" />
    </video>

    @* Heading  *@
    <div class="heading-container">
        <h2 class="heading-text" data-text="Glo&nbsp;Enterprise">
            Glo&nbsp;Enterprise
        </h2>
    </div>

    
    <div class="LoginMain">
        <input class="Logininput" type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            @* Remove the asp-action tag helper because of the returnUrl *@
            <form method="post">
                @* <div asp-validation-summary="All" class="text-danger text-center"></div> *@
                <label class="Loginlabel" for="chk" aria-hidden="true">Log In</label>
                <input asp-for="Email" class="Logininput" placeholder="Official Email">
                <span asp-validation-for="Email" class="text-danger"></span>

                <input asp-for="Password" class="Logininput" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="form-group form-check text-center">
                    <label class="form-check-label text-white">
                        <input asp-for="RememberMe" class=" form-check-input" />
                        @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>

                <button type="submit" class="Loginbutton">Login</button>

                <p>Not registered? <a asp-action="Register" style="color:greenyellow;">Sign Up</a> </p>

                <p> <a asp-action="ForgotPassword" style="color:red;">Forgot Password?</a> </p>

                <div>
                    <p style="text-align:center;
                    margin:auto;
                   background: rgba(255, 255, 255, 0.29);
                   border-radius: 10px;
                   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                   backdrop-filter: blur(7.9px);
                   -webkit-backdrop-filter: blur(7.9px);
                   border: 1px solid rgba(255, 255, 255, 0.45);
                    width: 80%;">

                        <a asp-controller="home" asp-action="index" style="color:green;">
                            <span class="icon">
                                <i class="bi bi-house-up-fill"></i>
                            </span>
                            <span class="text">Back Home</span>
                        </a>

                    </p>
                </div>
            </form>
        </div>

    </div>


</div>

