@model ResetPasswordViewModel;

@{
    Layout = "_EmptyLayout";
}

<div class="signUpContainer">

    @* Background Video *@
    <video autoplay loop muted playsinline class="background-clip">
        @* <source src="/Glo Business Solutions.webm" type="Video/webm">  *@
        <source src="~/video/market%20loop.mp4" type="video/mp4" />
    </video>

    @* Heading *@
    <div class="heading-container">
        <h2 class="heading-text" data-text="Glo&nbsp;Enterprise">
            Glo&nbsp;Enterprise
        </h2>
    </div>

    <div class="LoginMain" style="overflow-y:scroll;">
        <input class="Logininput" type="checkbox" id="chk" aria-hidden="true">
        <div class="signup text-center">
            <form method="post" style="padding-bottom:1rem;">
                @* <div asp-validation-summary="All" class="text-danger text-center"></div> *@
                <label class="Loginlabel" for="chk" aria-hidden="true">Reset Password</label>

                <input asp-for="Token" type="hidden">
                <input asp-for="Email" type="hidden">

                <input asp-for="Password" class="Logininput" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="ConfirmPassword" class="Logininput" placeholder="Confirm password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <button type="submit" class="Loginbutton">Reset</button>
                <p>Registered already? <a asp-action="Login" style="color:greenyellow;">Login</a> </p>

                <div>
                    <p style="text-align:center;
                    margin:auto;
                   background: rgba(255, 255, 255, 0.29);
                   border-radius: 10px;
                   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                   backdrop-filter: blur(7.9px);
                   -webkit-backdrop-filter: blur(7.9px);
                   border: 1px solid rgba(255, 255, 255, 0.45);
                    width: 80%;">

                        <a asp-controller="home" asp-action="index" style="color:green;">
                            <span class="icon">
                                <i class="bi bi-house-up-fill"></i>
                            </span>
                            <span class="text">Back Home</span>
                        </a>

                    </p>
                </div>
            </form>
        </div>
    </div>


</div>

