
@{
	// This value will be retrieved from the parent views and defaults to CREATE if it is null
	string actionName = ViewBag.ActionName == null ? "Create" : ViewBag.ActionName;
	string toolTipText = ViewBag.ToolTipText == null ? "Add New" : ViewBag.ToolTipText;
	string iconsClass = "bi bi-plus";
}

	<a asp-controller="@Model" asp-action="@actionName" class="fixed-button">
		<i class="@iconsClass"></i>
		<span class="tooltiptext">@toolTipText</span>
	</a>	



