
<aside class="sidemenu">
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Welcome">
                <span class="icon text-white">
                    <i class="bi bi-house-fill"></i>
                </span>
                <span class="text">Home</span>
            </a>
        </li>

</aside>



