<header>
    <h1 id="department">Service Management</h1>
    <hr />
    <div class="heading-container">
        <h2 class="heading-text" data-text="Trouble&nbsp;Ticketing&nbsp;System">
            Trouble&nbsp;Ticketing&nbsp;System
        </h2>
    </div>
    <hr />
</header>