@model TrackIt.Domain.ViewModel.LoginViewModel

<form asp-action="Login" asp-controller="Home" method="post">
    <label for="chk" aria-hidden="true" style="color:white;margin-bottom:5rem;">Login</label>
    <input asp-for="Email" placeholder="Username">
    <span asp-validation-for="Email" class="text-danger"></span>
    <input asp-for="Password" placeholder="Password">
    <span asp-validation-for="Password" class="text-danger"></span>
    <button type="submit">Login</button>
    <p>Not registered? <a href="#">Create account</a> </p>
</form>