

<div style="background-image:url(~/img/404-V3.svg); width:100%; height:auto;" class="p-5">
    <div class="glass-pane p-5" style"height:40vh; display:flex; align-items:center; justify-content:center;">
        <h1 style="text-align:center;font-size:5vw; color:#f00;">Not Found</h1>
    </div>

    <div class="text-center">
        <a asp-controller="home" asp-action="index">

            Back to home page
        </a>
    </div>
</div>   