@inject SignInManager<ApplicationUser> signInManager;


<aside class="sidemenu">
    <ul>

        @if(signInManager.IsSignedIn(User)){
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a asp-controller="Administration" asp-action="AllRoles">
                        <span class="icon text-white">
                            <i class="bi bi-house-gear-fill"></i>
                        </span>
                        <span class="text">Access Mgmt.</span>
                    </a>
                </li>
            }            

            <li>
                <a asp-controller="Client" asp-action="Index">
                    <span class="icon text-white">
                        <i class="fa-solid fa-users-gear"></i>
                    </span>
                    <span class="text">Client Mgmt.</span>
                </a>
            </li>

            <li>
                <a asp-controller="IPPoP" asp-action="Index">
                    <span class="icon text-white">
                        <i class="fa-brands fa-hubspot"></i>
                    </span>
                    <span class="text">IP PoPs</span>
                </a>
            </li>
            <li>
                <a asp-controller="NetworkSwitch" asp-action="Index">
                    <span class="icon text-white">
                        <i class="fa-solid fa-network-wired"></i>
                    </span>
                    <span class="text">Network Switches</span>
                </a>
            </li>
            <li>
                <a asp-controller="BTS" asp-action="Index">
                    <span class="icon text-white">
                        <i class="fa-solid fa-tower-cell"></i>
                    </span>
                    <span class="text">Base Stations</span>
                </a>
            </li>
            <li>
                <a asp-controller="DCNRouter" asp-action="Index">
                    <span class="icon text-white">
                        <i class="bi bi-router-fill"></i>
                    </span>
                    <span class="text">MPLS Routers</span>
                </a>
            </li>
            <li>
                <a asp-controller="Administration" asp-action="AllUsers">
                    <span class="icon text-white">
                        <i class="bi bi-person-fill-gear"></i>
                    </span>
                    <span class="text">User/HR Mgmt.</span>
                </a>
            </li>


            <li>
                <a href="#">
                    <span class="icon text-white">
                        <i class="bi bi-graph-up-arrow"></i>
                    </span>
                    <span class="text">Analytics</span>
                </a>
            </li>

        }



        <li>
            <a asp-controller="TicketingSystem" asp-action="Index">
                <span class="icon text-white">
                    <i class="bi bi-postage-fill"></i>
                </span>
                <span class="text">Ticketing System</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon text-white">
                    <i class="bi bi-chat-left-text-fill"></i>
                </span>
                <span class="text">Forums</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon text-white">
                    <i class="bi bi-list-check"></i>
                </span>
                <span class="text">Approvals</span>
            </a>
        </li>
    </ul>
</aside>
