<!--==================== HOME ====================-->
<section class="home section" id="home">

    <div class="home__container container grid">
        <div class="home__content grid">
            <div class="home__social">
                <a href="https://www.linkedin.com/company/globacom/mycompany/"
                   target="_blank"
                   class="home__social-icon">
                    <i class="uil uil-linkedin-alt emphasize"></i>
                </a>
                <a href="https://www.twitter.com/Gloworld"
                   target="_blank"
                   class="home__social-icon">
                    <i class="uil uil-twitter-alt emphasize"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=d2IQaqKrCDI"
                   target="_blank"
                   class="home__social-icon">
                    <i class='bx bxl-youtube emphasize'></i></i>
                </a>
            </div>


            <div class="home__data">

                <h1 class="home__title main-text">Glo&nbsp;Enterprise&nbsp;Business</h1>

                <p class="home__description summary">
                    The <span class="emphasize">most reliable</span> one-stop
                    shop for telecoms services and network solutions for your business.
                </p>

                <br><br>

                <a style="display: inline-block;" href="#about" class="home__scroll-button button--flex">
                    <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                    <span class="home__scroll-name">Scroll down</span>
                    <i class="uil uil-arrow-down home__scroll-arrow"></i>
                </a>
            </div>


            <div class="home__img" style="position:relative;">
                <a href="#contact" class="button button--flex">
                    Contact&nbsp;Us <i class="uil uil-message button__icon"></i>
                </a>
            </div>

        </div>
        <!-- <div class="home__scroll">

        </div> -->
    </div>
</section>

<!--==================== ABOUT ====================-->
<section class="about section" id="about">
    <h2 class="section__title">Glo Enterprise Business</h2>
    <!-- <span class="section__subtitle">Introduction</span> -->
    <div class="about__container container">
        <div class="composition">
            <img src="~/img/corporate.jpg" alt="" class="about__img composition__photo composition__photo--p1" />
            <img src="~/img/school.jpg" alt="" class="about__img composition__photo composition__photo--p2" />
            <img src="~/img/oil-rig.jpg" alt="" class="about__img composition__photo composition__photo--p3" />
        </div>
        <div class="about__description">
            <p class="what">
                <span class="what-we-do"><span style="background-color: #ffb900;">&nbsp;What&nbsp;</span><span class="emphasize" style="background-color: var(--title-color);">we do&nbsp;</span> </span>
                We collaborate with your business to provide tailor-made connectivity solutions that best suit your business interests with the ultimate aim of helping you <span class="emphasize" style="font-style:italic;">put your business on fast forward</span>.
                <br>
                <a href="#contact"
                   class="button--link button--flex services__button">
                    Learn More <i class="uil uil-arrow-right button__icon"></i>
                </a>
            </p><br><br>

            <p class="who">
                <span class="who-we-are"><span style="background-color: #ffb900;">&nbsp;Who&nbsp;</span><span class="emphasize" style="background-color: var(--title-color);">we are&nbsp;</span>  </span>

                Glo Enterprise Business is a specialized unit of Globacom Limited; we are  dedicated to providing solutions that address your corporate business's communications, collaboration, data security and management needs; offering your business the launch pad for growth and expansion.
                <br>
                <a href="#contact"
                   class="button--link button--flex services__button">
                    Learn More <i class="uil uil-arrow-right button__icon"></i>
                </a>
            </p>

        </div>
    </div>
</section>

<!--==================== FEATURES ====================-->
<section class="features section" id="features">

    <div class="stack-area container">
        <div class="left">
            <div class="title">Extra Perks</div>
            <div class="sub-title">
                <p>
                    You will never be left hung out to dry: our industry standard after-sales service includes a round the clock customer service support through the SPOC (single point of contact) service desk.
                </p>
                <br>
                <p>
                    Our responsive operations team minimizes service distruptions through a series of organized activities, our monitoring team ceaselessly ensures optimal quality of service.... <br>
                    <a href="#contact"
                       class="button--link button--flex services__button">
                        Learn More <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </p>


            </div>
        </div>
        <div class="right">
            <div class="stackedcards">
                <div class="stackedcard">
                    <div class="sub">Support</div>
                    <div class="content">Always availabile 24/7</div>
                </div>
                <div class="stackedcard">
                    <div class="sub">Reach</div>
                    <div class="content">Nationwide</div>
                </div>
                <div class="stackedcard">
                    <div class="sub">Infrastructure</div>
                    <div class="content">State of the art</div>
                </div>
                <div class="stackedcard">
                    <div class="sub">Service <br />Improvement</div>
                    <div class="content">Non-stop</div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--==================== SERVICES ====================-->

<section class="services section" id="services">
    <h2 class="section__title">Services</h2>

    <div class="services__container container grid">
        <!--======== SERVICES 1 =========-->
        <div class="services__content internet">
            <div>
                <!-- <i class="uil uil-web-grid services__icon"></i> -->
                <h3 class="services__title">
                    Internet/IPLC Services
                </h3>
            </div>
            <a href="#contact"
               class="button--link button--flex services__button">
                Learn More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 2 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-arrow services__icon"></i> -->
                <h3 class="services__title">
                    Leased Line Services
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 3 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-pen services__icon"></i> -->
                <h3 class="services__title">
                    IPSec
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 1 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-web-grid services__icon"></i> -->
                <h3 class="services__title">
                    MPLS
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 2 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-arrow services__icon"></i> -->
                <h3 class="services__title">
                    SIM<br />Voice/Data
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 3 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-pen services__icon"></i> -->
                <h3 class="services__title">
                    PRI (VOICE)
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>

        <!--======== SERVICES 1 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-web-grid services__icon"></i> -->
                <h3 class="services__title">
                    Data Center Service
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 2 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-arrow services__icon"></i> -->
                <h3 class="services__title">
                    Secured APN Solution
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 3 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-pen services__icon"></i> -->
                <h3 class="services__title">
                    VSAT
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 3 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-pen services__icon"></i> -->
                <h3 class="services__title">
                    FTTH
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
        <!--======== SERVICES 3 =========-->
        <div class="services__content">
            <div>
                <!-- <i class="uil uil-pen services__icon"></i> -->
                <h3 class="services__title">
                    SIP
                </h3>
            </div>
            <a href="#contact"
               class="button button--link button--flex button--small--link services__button">
                View More <i class="uil uil-arrow-right button__icon"></i>
            </a>
        </div>
    </div>
</section>

<!--====== PROJECT IN MIND ==========-->
<section class="project section">
    <div class="project__bg">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">Still Musing?</h2>
                <p class="project__description">We cater to businesses of varying sizes with good Service Level Agreements, so, you can rest assured your business's growth and smooth sailing is our priority.</p>
                <a href="#contact" class="button button--flex button--white ">
                    Contact Us
                    <i class="uil uil-message project__icon button__icon"></i>
                </a>
            </div>

            <img src="~/img/project.png" alt="" class="project__img">
        </div>
    </div>
</section>

<section class="section-featured">
    <h2 class="heading-featured-in section__title">Trusted By</h2>
    <div class="logos">
        <img style="border-radius: .5vw;" src="~/img/orange.jpg" alt="Orange logo" />
        <img style="border-radius: .5vw;" src="~/img/shell.png" alt="Shell logo" />
        <img style="border-radius: .5vw;" src="~/img/JuliusBerger.png" alt="Julius Berger logo" />
        <img style="border-radius: .5vw;" src="~/img/dangote.png" alt="Dangote logo" />
        <img style="border-radius: .5vw;" src="~/img/accessbank.png" alt="Access Bank logo" />
        <img style="border-radius: .5vw;" src="~/img/seplat.png" alt="Seplat logo" />
        <img style="border-radius: .5vw;" src="~/img/total.jpg" alt="Total Energies logo" />
    </div>
</section>

<!--=========== TESTIMONIAL ===========-->
<section class="testimonial section">
    <h2 class="section__title">Testimonial</h2>
    <span class="section__subtitle">Clients are saying</span>

    <div class="testimonial__container container swiper-container">
        <div class="swiper-wrapper">
            <!--=========== TESTIMONIAL 1 ===========-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <img src="~/img/images.png" alt="" class="testimonial__img">

                        <h3 class="testimonial__name">Bank Executive</h3>
                        <span class="testimonial__client">Client's Employee</span>
                    </div>

                    <div>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                    </div>
                </div>
                <p class="testimonial__description">
                    <q>Our bank is a repeat customer of Glo Enterprise Business because of our network team's first-hand account of network stability at all our branches that Glo provides Leased Line Connectivity to. I rate them highly! </q>
                </p>
            </div>
            <!--=========== TESTIMONIAL 2 ===========-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <img src="~/img/testimonial4.jpeg" alt="" class="testimonial__img">

                        <h3 class="testimonial__name">Business Owner</h3>
                        <span class="testimonial__client">Client</span>
                    </div>

                    <div>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                    </div>
                </div>
                <p class="testimonial__description">
                    <q>I had lots of reservations before my final acquiescence to the sales man's persuasion to use the internet services of Glo Enterprise Business at 3 of my business locations; all doubts are now dispelled as I have been getting my money's worth in service delivery. I couldn’t be happier with my decision to associate with Glo.</q>
                </p>
            </div>
            <!--=========== TESTIMONIAL 3 ===========-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <img src="~/img/testimonial2.jpg" alt="" class="testimonial__img">

                        <h3 class="testimonial__name">Co-Founder</h3>
                        <span class="testimonial__client">Client</span>
                    </div>

                    <div>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                        <i class="bi bi-star-fill testimonial__icon-star"></i>
                    </div>
                </div>
                <p class="testimonial__description">
                    <q>Je suis un client fidèle depuis des années et je continue d'être impressionné par cette entreprise. Leur équipe se consacre à fournir le meilleur service possible, et cela se voit dans chaque interaction. Je les recommande vivement à toute personne ayant besoin de leurs services.</q>
                </p>
            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-testimonial"></div>
    </div>
</section>



<!--==================== CONTACT ME ====================-->
<section class="contact section" id="contact">

    <video autoplay loop muted plays-inline class="background-video">
        <source src="~/video/glo.mp4" type="video/mp4" />
    </video>

     @* <h2 class="section__title">We Keep Customers Happy</h2> *@

    <div class="contact__container  grid">
        
            <div>
                <div class="contact__information">
                    <i class="uil uil-phone contact__icon"></i>
                    <div>
                        <h3 class="contact__title">Call:</h3>
                        <span class="contact__subtitle">0807-770-1030</span>
                    </div>
                </div>
                <div class="contact__information">
                    <i class="uil uil-envelope contact__icon"></i>
                    <div>
                        <h3 class="contact__title">Email:</h3>
                        <span class="contact__subtitle">globusiness@gloworld.com</span><br>
                        <span class="contact__subtitle">corporatecare@gloworld.com</span><br>
                        <span class="contact__subtitle">gesspoc@gloworld.com</span>
                    </div>
                </div>
                <div class="contact__information">
                    <i class="uil uil-map-marker contact__icon"></i>
                    <div>
                        <h3 class="contact__title">Location:</h3>
                        <span class="contact__subtitle">Nigeria</span>
                    </div>
                </div>
            </div> 
            
            <div class="bodyBox">

                <div class="giantButton-container">
                     
                    <email class="giantButton" address="ges.spoc@@gloworld.com;" content="Contact Us">
                        <span class="wrap" aria-hidden="true">
                            <span class="particle" style="--a: -45deg; --x: 53%; --y: 15%; --d: 4em; --f: .7; --t: .15"></span>
                            <span class="particle" style="--a: 150deg; --x: 40%; --y: 70%; --d: 7.5em; --f: .8; --t: .08"></span>
                            <span class="particle" style="--a: 10deg; --x: 90%; --y: 65%; --d: 7em; --f: .6; --t: .25"></span>
                            <span class="particle" style="--a: -120deg; --x: 15%; --y: 10%; --d: 4em"></span>
                            <span class="particle" style="--a: -175deg; --x: 10%; --y: 25%; --d: 5.25em; --f: .6; --t: .32"></span>
                            <span class="particle" style="--a: -18deg; --x: 80%; --y: 25%; --d: 4.75em; --f: .5; --t: .4"></span>
                            <span class="particle" style="--a: -160deg; --x: 30%; --y: 5%; --d: 9em; --f: .9; --t: .5"></span>
                            <span class="particle" style="--a: 175deg; --x: 9%; --y: 30%; --d: 6em; --f: .95; --t: .6"></span>
                            <span class="particle" style="--a: -10deg; --x: 89%; --y: 25%; --d: 4.5em; --f: .55; --t: .67"></span>
                            <span class="particle" style="--a: -140deg; --x: 40%; --y: 10%; --d: 5em; --f: .85; --t: .75"></span>
                            <span class="particle" style="--a: 90deg; --x: 45%; --y: 65%; --d: 4em; --f: .5; --t: .83"></span>
                            <span class="particle" style="--a: 30deg; --x: 70%; --y: 80%; --d: 6.5em; --f: .75; --t: .92"></span>
                        </span>
                    </email>
             
                </div>

            </div>

        </div>
 
    
</section>